
<div class="wrap">
	<header class="header">
		<a ui-sref="user"><i class="fa fa-angle-left"></i></a>
		<h1>我的收藏</h1>
	</header>
	<nav class="nav" id="nav">
		<ul>
			<li class="bg">全部</li>
			<li>出境游</li>
			<li>邮轮</li>
		</ul>
		<a href="javascript:;"><i class="fa fa-angle-down"></i></a>
	</nav>
	<main class="main" id="collect">
		<div class="scroller">
			<div class="history">
				<div class="star">
					<img src="images/star.png" alt="">
					<h1>没有收藏</h1>
					<p>美好的事物值得收藏哦</p>
				</div>
			</div>
		</div>
	</main>
</div>	