
<div class="wrap" marker>
	<header class="header">
		<h1><i class="fa fa-search"></i><input type="text" placeholder="搜索你想去的目的地"></h1>
	</header>
	<main class="main" id="map">
		<div class="map">
			<nav class="nav" id="nav">
				<ul>
					<li class="col" data-tit="hot">热门</li>
					<li data-tit="wuyi">五一去哪</li>
					<li data-tit="zhoubian">周边</li>
					<li data-tit="jzh">江浙沪</li>
					<li data-tit="gdhn">广东海南</li>
					<li data-tit="quanguo">全国</li>
					<li data-tit="rihan">日韩</li>
					<li data-tit="dny">东南亚</li>
					<li data-tit="haidao">海岛</li>
				</ul>
			</nav>
			<div class="con" id="con">
				<div class="scroller">
					
				</div>
			</div>
		</div>
	</main>
	<footer class="footer">
		<nav>
				<a ui-sref="home">
					<i class="fa fa-home"></i>
					<small>首页</small>
				</a>
				<a ui-sref="marker">
					<i class="fa fa-map-marker"></i>
					<small>目的地</small>
				</a>
				<a ui-sref="compass">
					<i class="fa fa-compass"></i>
					<small>发现</small>
				</a>
				<a ui-sref="user">
					<i class="fa fa-user"></i>
					<small>我的</small>
				</a>
		</nav>
	</footer>
</div>

