
<div class="wrap">
	<header class="header">
		<a ui-sref="user_register"><i class="fa fa-angle-left"></i></a>
		<h1>忘记密码</h1>
	</header>
	<main class="main" id="user_register">
		<p><input type="text" class="username" placeholder="13167558548"></p>
		<p><input type="password" class="psd" placeholder="请输入验证码"><a href="javascript:;">获取短信</a></p>
		<p>输入密码：<input type="password" class="psd" placeholder="6-16位的数字、字母或字符"></p>
		<p>重复输入密码：<input type="password" class="psd" placeholder="两次输入密码必须一致"></p>
		<h2><a href="javascript:;">登录</a></h2>
	</main>
</div>	