
<div class="wrap" user>
	<header class="header">
		<em><i class="fa fa-user"></i></em>
		<h1><a ui-sref="user_register">您还没有登录，请登录<i class="fa fa-angle-right"></i></a></h1>
		<p>
			<a href="javascript:;"><i class="fa fa-comment-o"></i></a>
			<a href="javascript:;"><i class="fa fa-gear"></i></a>
		</p>
	</header>
	<main class="main" id="user">
		<div class="scroller">
			<p><i class="fa fa-comment"></i>全部订单<a><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>我的钱包<a ui-sref="wallet"><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>微社区<a><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>旅游顾问<a>百万年薪招聘顾问<i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>我的行程<a><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>我的收藏<a ui-sref="collect"><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>浏览历史<a ui-sref="history"><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>常用信息<a ui-sref="common"><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>设置<a><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>关于足迹<a><i class="fa fa-angle-right"></i></a></p>
			<p><i class="fa fa-comment"></i>关于我们<a><i class="fa fa-angle-right"></i></a></p>
		</div>
	</main>
	<footer class="footer">
		<nav>
			<a ui-sref="home">
				<i class="fa fa-home"></i>
				<small>首页</small>
			</a>
			<a ui-sref="marker">
				<i class="fa fa-map-marker"></i>
				<small>目的地</small>
			</a>
			<a ui-sref="compass">
				<i class="fa fa-compass"></i>
				<small>发现</small>
			</a>
			<a ui-sref="user">
				<i class="fa fa-user"></i>
				<small>我的</small>
			</a>
		</nav>
	</footer>
</div>	