
<div class="wrap">
	<header class="header">
		<a ui-sref="user"><i class="fa fa-angle-left"></i></a>
		<h1>登录</h1>
	</header>
	<main class="main" id="user_register">
		<p><input type="text" class="username" placeholder="13167558548"></p>
		<p><input type="password" class="psd" placeholder="请输入密码"><a ui-sref="pwd">忘记密码？</a></p>
		<h2><a href="javascript:;">登录</a></h2>
		<h2><a href="javascript:;">一键登录</a></h2>
		<h4><a href="#">短信登录</a><a href="#">注册账号</a></h4>
		<h3>第三方登录</h3>
		<div class="register">
			<a href="javascript:;"><img src="images/register1.png" alt=""></a>
			<a href="javascript:;"><img src="images/register2.png" alt=""></a>
			<a href="javascript:;"><img src="images/register3.png" alt=""></a>
			<a href="javascript:;"><img src="images/register4.png" alt=""></a>
		</div>
	</main>
</div>	