
<div class="wrap">
	<header class="header">
		<a ui-sref="user"><i class="fa fa-angle-left"></i></a>
		<h1>我的钱包</h1>
		<a href="javascript:;">设置</a>
	</header>
	<main class="main" id="wallet">
		<dl class="zujibao">
			<dt><img src="images/nav_er6_18.png" alt=""></dt>
			<dd>
				<h2>足记宝</h2>
				<p>安全、高收益的活期理财</p>
			</dd>
		</dl>
		<div class="dl">
			<dl>
				<dt><img src="images/wallet1.png" alt=""></dt>
				<dd>
					<h2>足记白条</h2>
					<p>激活有奖</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet2.png" alt=""></dt>
				<dd>
					<h2>红包</h2>
					<p>0个</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet3.png" alt=""></dt>
				<dd>
					<h2>奖金</h2>
					<p>￥0</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet4.png" alt=""></dt>
				<dd>
					<h2>立返</h2>
					<p>￥0</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet5.png" alt=""></dt>
				<dd>
					<h2>电子票</h2>
					<p>0张</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet6.png" alt=""></dt>
				<dd>
					<h2>一元特权卡</h2>
					<p>0张</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet7.png" alt=""></dt>
				<dd>
					<h2>足记旅游卡</h2>
					<p>￥0</p>
				</dd>
			</dl>
			<dl>
				<dt><img src="images/wallet8.png" alt=""></dt>
				<dd>
					<h2>福利券</h2>
					<p>0张</p>
				</dd>
			</dl>
		</div>
	</main>
</div>	